<header class="ui fixed menu">
  <menu class="ui container">
    <a class="header item" href="/">
      <img class="logo" src="/images/parrot.svg"/>
      True Parrot
    </a>

    <div class="right menu">
      {{#if loggedIn}}
        <img class="ui avatar image" src="{{gravatar}}">
        <span>{{fullName}}</span>
      {{else}}
        <a class="item" href="/login">
          Log-in
        </a>
        <a class="item" href="/signup">
          Sign up
        </a>
      {{/if}}
    </div>
  </menu>
</header>
