<header class="ui fixed menu">
  <menu class="ui container">
    <a class="header item" href="/">
      <img class="logo" src="/images/parrot.svg"/>
      True Parrot
    </a>

    <div class="right menu">
      <a class="item">
        Log-in
      </a>
      <a class="item">
        Sign up
      </a>
    </div>
  </menu>
</header>
