<div class="ui fluid card">
  <div class="image">
    <img src="{{generateGravatar user.email 290}}">
  </div>
  <div class="content">
    <a class="header">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Joined at {{user.createdAt}}</span>
    </div>
    <div class="description">
      Profile Description Text
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      Additional stats of user
    </a>
  </div>
</div>
