<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>

  <script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>

  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <link rel="stylesheet" media="screen" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  {{> header }}

  <section class="ui container" id="main-content">
    {{{content}}}
  </section>

  {{> footer }}

  <script>
    $(document).ready(function () {
      $('.ui.dropdown').dropdown({ on: 'hover' });
      $('.message .close')
          .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
          });

      var $container = $('.masonry-grid');
      $container.imagesLoaded(function(){
        $container.masonry({
          // options
          itemSelector: '.masonry-grid-item',
          isFitWidth: true,
          containerStyle: {
            margin: '0 auto',
          }
        });
      });

      $('.ui.sticky')
          .sticky({
            context: '#context',
            offset: 64,
          })
      ;
    });
  </script>
</body>
</html>
