<section class="ui raised segment">
  <div class="ui stackable column grid">
    <div class="six wide column" id="context">
      <div class="ui sticky" style="padding: 10px;">
        {{> userCard }}
      </div>
    </div>
    <div class="ten wide column">
      <h2>Followers</h2>
      {{> followerList followers=user.followers }}
    </div>
  </div>
</section>
