{{> sample }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header">Share your thoughts with this innovative twitter clone!</header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat felis. Sed venenatis suscipit velit,
        eu facilisis est venenatis vel. Aliquam faucibus eu arcu at ultrices. In convallis, elit at pellentesque
        ultrices, lacus purus ultrices metus, ac semper metus mauris et lectus. Fusce id tempor magna. Donec ut
        dictum sem, sed dapibus odio. In luctus massa at nisi pulvinar posuere. Sed id sapien sed nibh egestas
        feugiat. Proin dictum mi ut nunc bibendum, sit amet cursus neque blandit. Aliquam id odio non leo tincidunt
        vulputate. Integer vestibulum placerat diam sed porta. Donec sed risus nibh. In aliquam fermentum lobortis.
        Maecenas dapibus ut dolor congue lacinia. Morbi tempus nibh quis ante efficitur malesuada. Donec lacinia,
        justo et dignissim pharetra, nulla odio viverra turpis, eget euismod orci odio et arcu.
      </p>
    </article>
  </div>
</section>
