<div id="fullscreen-image">
</div>

<div class="center-both landig-page" style="z-index: 1;">
  <h1>True Parrot</h1>
  <h2>Exchange news and statuses with people from all around the world!</h2>
  <button class="ui massive button">Join Now!</button>
  </br>
  <a href="#">...or read without login</a>
</div>
