<section class="ui raised segment">
  <form action="/settings" method="POST" class="ui form">
    <h3 class="ui dividing header">Profile Settings</h3>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input placeholder="First Name" value="{{user.firstName}}" type="text" name="firstName">
        </div>
        <div class="field">
          <input placeholder="Last Name" value="{{user.lastName}}" type="text" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" value="{{user.email}}" type="text" name="email">
    </div>
    <div class="field">
      <label>Description</label>
      <input placeholder="Short Profile Description" value="{{user.description}}" type="text" name="description">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui blue submit button">Submit</button>
  </form>
  {{> formerror }}
</section>
